.table th, .table td {
  word-wrap: break-word;
}

.table th .collection-date {

}

.selected-students {
  fill: red;
  elevation: 1;
}

g.text-label rect {
  fill: white;
  stroke: white;
}
g.text-label text {
  font-size: 18px;
  font-family: sans-serif;
  fill: black;
  text-anchor:middle;
  dominant-baseline: text-before-edge;
}

.all-students {
  fill: blue;
}

.no-students {
  fill: darkgray;
}
